* {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px auto;
}
ul li a {
    background-color:red;
    color: white;
    text-decoration: none;
    margin: 0px auto;
    
}

ul li {
    background-color: red;
    height: 30px;
    width: 100px;
    padding: 100px;
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0px auto;
}