
.container  {
    height: 100vh;
    width: 100vw;
    background-color: gray;
}

.logo h1 {
    padding-top: 50vh;
    padding-left: 100px;
}

.header p {
    max-width: 300px;
    margin-left: 300px;
}

ul {
    margin-left: 300px;
}