
* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
    text-align: left;
}

h1 {
    color: white;
}


.float_left {
    float: left;
}

.float_right {
    float: right;
}
.clear_both {
    clear:both;
}